@model ChangeUserPasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه‌ی عبور";
}
@using Tochal.Toolkit
@Html.Raw(Styles.MakeLayoutBlank())
<div class="card mt-5">
    <div class="card-header text-center">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <div class="card-body">

        <form asp-controller="ChangePassword"
              asp-action="ChangePassword"
              method="post"
              class="margin-top-40 col-md-12">
            <partial name="_CustomValidationSummary" />
            <input type="hidden" value="@Model.userId" name="userId" />
            <input type="hidden" value="@Model.Token" name="Token" />
            <div class="form-group">
                    <input dir="rtl" asp-for="NewPassword" class="form-control" placeholder="کلمه عبور جدید" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-exir btn col-md-3" style="width:100%">ثبت</button>
        </form>
    </div>
</div>