@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@{
    var result = TempData["ServiceResult.Message"] as string;
    if (result != null)
    {

        @*<div class="alert alert-@((bool) TempData["ServiceResult.Succeed"] ? "success" : "danger") alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <div>
                @if (string.IsNullOrEmpty(result))
                {
                    <span>
                        @((bool)TempData["ServiceResult.Succeed"] ? "عملیات با موفقیت انجام شد." : "خطا!")
                    </span>
                }
                else
                {
                    <span>@result</span>
                }
            </div>

        </div>*@

        <script>
            (function () {
                debugger;
                var result = {
                    Message: @(new HtmlString(JsonConvert.SerializeObject(result))),
                    Succeed: @(JsonConvert.SerializeObject(TempData["ServiceResult.Succeed"]))
                };

                showBeautyMessage(result);
            }());
        </script>
    }
}
